
.form{
    display: flex;
    justify-content: center;
    margin: 1vh;
    padding: 1vh;
}

.formlogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px #EDF2F4 solid;
    border-radius: 5px;
    padding: 5vh;
}

input{
    border-radius: 5px;
    background-color: #EDF2F4;
    margin: 1vh;
    color: black;
    padding: 1vh;
}

input.nom, input.voie, input.ville{
    width: 50%;
}

input.numero{
    width: 10%;
}

input.codepostal{
    width: 20%;
}

.submit{
    margin: 1vh;
}

fieldset{
    padding: 1vh;
    color: #EDF2F4;
    display: flex;
    border: solid black 2px;
    border-radius: 5px;
}

input.submit{
    width: 20%;
    background-color: #EDF2F4;
}

input.submit:hover{
    background-color: #c6cfd3;
}