.form{
    display: flex;
    justify-content: center;
    margin: 1vh;
    padding: 1vh;
}

.formlogin{
    display: flex;
    flex-direction: column;
    border: 2px #EDF2F4 solid;
    border-radius: 5px;
    padding: 5vh;
}

input.username, input.password{
    border-radius: 5px;
    background-color: #EDF2F4;
    margin: 1vh;
    color: black;
    padding: 1vh;
}

.submit{
    margin: 1vh;
}